<h1 class="text-center">Welcome to Ellis Elementary School's Kids' Catalog</h1>

<div class="col-md-8 col-md-offset-2">
  <a href="<%= books_path %>" class=thumbnail>
    <img src="/assets/library.jpg" alt="" />
  </a>
</div>
