<h1 class="text-center">Welcome to Ellis Elementary School's Kids' Catalog</h1>

<div class="inner">
  <a href="<%= books_path %>">
    <img class="library-image" src="https://upload.wikimedia.org/wikipedia/commons/2/28/The_Library_at_Cheung_Kong_GSB_Beijing_Campus.jpg" alt="" />
  </a>
</div>