<h1 class="text-center">Welcome to Ellis Elementary School's Catalog for Students</h1>

<div class="col-xs-10 col-md-10 col-md-offset-1">
  <a href="<%= books_path %>" class="thumbnail">
    <img src="/assets/library.jpg" alt="" />
  </a>
</div>
