<h1 class="text-center">Welcome to Ellis Elementary School's Kids' Catalog</h1>

<div class="col-md-10 col-md-offset-1">
  <a href="<%= books_path %>" class=thumbnail>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/The_Library_at_Cheung_Kong_GSB_Beijing_Campus.jpg" alt="" />
  </a>
</div>
